.contact{
    margin-top: 70px;
    text-align: center;
    color: rgb(7, 7, 64);
}
form input, textarea, select{
    transform: translateX(240px);
}
label{
    display: flex;
    width: 150px;
    flex-wrap: nowrap;
    transform: translateX(100px);
}
.formulaire{
    background-color: rgb(160, 230, 255);
    color: rgb(0, 12, 175);
    margin: auto;
    width: 75%;
    margin-bottom: 20px;
}
html .formulaire{
    width: 50%;
}
#bt{
    margin: auto;
}
#bt{
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: x-large;
}
